EXPO_PUBLIC_BASE_URL = Your base URL here
EXPO_PUBLIC_GOOGLE_REDIRECT_URL = Your Google redirect URL here
EXPO_PUBLIC_FACEBOOK_REDIRECT_URL = Your Facebook redirect URL here
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY= Your Stripe publishable key here
